body {
	text-align: center;
}

div.picture {
	position: relative;
	display: inline-block;
}

#octopus {
	position: absolute;
	left: 30%;
	right: 30%;
	top: 89px;
	z-index: 1;
}

#glasses {
	position: absolute;
	left: 30%;
	right: 30%;
	top: 190px;
	margin-left: 45px ;
	z-index: 3;
}

#hat {
	position: absolute;
	left: 30%;
	right: 30%;
	z-index: 1;
}


