.picture {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
}

#octopus {
	position:absolute; 
	top: 89px;
	z-index: 1;
}

#glasses {
	position:absolute;
	top: 190px;
	left: 45px ;
	z-index: 3;
}

#hat {
	position:absolute;
	top: 0px;
	z-index: 1;
}


